input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  color: var(--primary);
  border: 1px solid #444444;
  border-radius: 8px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  padding: 14px;
  background: #4CAF50;
  color: #fff;
  border: 0;
  border-radius: 8px;
}

button[type=submit]:hover {
  background-color: #45a049;
}

#my-form-status {
  font-weight: bold;
  text-align: center;
}

.whole-milk {
  width: 0px;
  border: none;
  opacity: 100; 
  position: absolute; 
  left: -9999px;
}
